In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [11]:
import re

In [12]:
cwd=os.getcwd()
df=pd.read_csv(cwd+"/BA_reviewsN.csv",index_col=0)

In [39]:
df

,reviews,verified,corpus
0,✅ Trip Verified | Flight delayed an hour due ...,True,flight delayed hour due bad weather around jfk...
1,✅ Trip Verified | A very full flight made Pre...,True,full flight made premium economy feel little l...
2,✅ Trip Verified | The worst airline I’ve ever ...,True,worst airline ever flown could check flight op...
3,✅ Trip Verified | I am surprised to be able t...,True,surprised able give favourable review flight e...
4,✅ Trip Verified | Flew British Airways on BA ...,True,flew british airway ba london heathrow amsterd...
...,...,...,...
995,✅ Trip Verified | \r\nGatwick to Barbados ret...,True,gatwick barbados return normally travel ba low...
996,✅ Trip Verified | Marseille to London. I am g...,True,marseille london generally annoyed quality ser...
997,✅ Trip Verified | The cabin crew on flight BA...,True,cabin crew flight ba london chennai efficient ...
998,✅ Trip Verified | Gatwick to Malaga. Check in...,True,gatwick malaga check fairly quick check area g...
999,"✅ Trip Verified | Boston to London Heathrow, ...",True,boston london heathrow excited experience firs...

In [14]:
df['verified']=df.reviews.str.contains(" Trip Verified")

In [15]:
df['verified']

0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Name: verified, Length: 1000, dtype: bool

In [16]:
df.head()

                                             reviews  verified
0  ✅ Trip Verified |  Flight delayed an hour due ...      True
1  ✅ Trip Verified |  A very full flight made Pre...      True
2  ✅ Trip Verified | The worst airline I’ve ever ...      True
3  ✅ Trip Verified |  I am surprised to be able t...      True
4  ✅ Trip Verified |  Flew British Airways on BA ...      True

In [17]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()

In [28]:
reviews_data=df.reviews.str.strip("✅ Trip Verified | ")
corpus = []

In [29]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Shashank\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [32]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Shashank\AppData\Roaming\nltk_data...

True

In [33]:
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [34]:
df['corpus']=corpus

In [35]:
df.head()

,reviews,verified,corpus
0,✅ Trip Verified | Flight delayed an hour due ...,True,flight delayed hour due bad weather around jfk...
1,✅ Trip Verified | A very full flight made Pre...,True,full flight made premium economy feel little l...
2,✅ Trip Verified | The worst airline I’ve ever ...,True,worst airline ever flown could check flight op...
3,✅ Trip Verified | I am surprised to be able t...,True,surprised able give favourable review flight e...
4,✅ Trip Verified | Flew British Airways on BA ...,True,flew british airway ba london heathrow amsterd...

In [36]:

df.isnull().value_counts()

reviews  verified  corpus
False    False     False     1000
Name: count, dtype: int64

In [37]:
df.reset_index(drop=True)

,reviews,verified,corpus
0,✅ Trip Verified | Flight delayed an hour due ...,True,flight delayed hour due bad weather around jfk...
1,✅ Trip Verified | A very full flight made Pre...,True,full flight made premium economy feel little l...
2,✅ Trip Verified | The worst airline I’ve ever ...,True,worst airline ever flown could check flight op...
3,✅ Trip Verified | I am surprised to be able t...,True,surprised able give favourable review flight e...
4,✅ Trip Verified | Flew British Airways on BA ...,True,flew british airway ba london heathrow amsterd...
...,...,...,...
995,✅ Trip Verified | \r\nGatwick to Barbados ret...,True,gatwick barbados return normally travel ba low...
996,✅ Trip Verified | Marseille to London. I am g...,True,marseille london generally annoyed quality ser...
997,✅ Trip Verified | The cabin crew on flight BA...,True,cabin crew flight ba london chennai efficient ...
998,✅ Trip Verified | Gatwick to Malaga. Check in...,True,gatwick malaga check fairly quick check area g...
999,"✅ Trip Verified | Boston to London Heathrow, ...",True,boston london heathrow excited experience firs...

In [38]:
df.to_csv(cwd + "/cleaned-BA-reviews.csv")